<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.pet.p1.product.DogDAO">
     
      	<!-- <sql id="search">
  		like '%'||#{search}||'%'
  		</sql> -->	
  		
  		
  		<!-- 전체 글의 개수 -->
  		<select id="dogCount"  parameterType="Pager"  resultType="Long">

  		select count(productNum) from product 
    	<where>
  			<if test="kind=='pn'">
  			priductName like '%'||#{search}||'%'
  			</if>
  			
  			<if test="kind=='pc'">
  			Contents like '%'||#{search}||'%'
  			</if>
  		
  			
  		</where> 

  		</select>


   	<select id="dogList" parameterType="Pager" resultType="DogVO">
		select * from
			 (select N.*, rownum R from 
				(select * from product 
				 where 
				  <choose>
					<when test="kind == 'pc'">
						Contents
					</when>
					
					<when test="kind=='pn'">
						productName
					</when>
					<otherwise>
						productNum
					</otherwise>
				</choose>
				like '%'||#{search}||'%' and productNum>=1 order by productNum desc) N )
				where R between #{startRow} and #{lastRow}  
	</select>    
        
        </mapper>